<section class = "container">

  <article class = "login">
    <section class = "login__main">
      <h1 class="login__text">Inicio de sesión </h1>
      <img class = "login__img" src="../../../../../assets/login.png">
    </section>

    <section>
      <form [formGroup]="loginForm" class="loginForm"  (ngSubmit)="sendDataFormLogin()" >

        <!--                 F I E L D   E M A I L                      -->
        <mat-form-field appearance='legacy' class="loginForm__field">
          <mat-label><mat-icon>email</mat-icon> Correo electrónico</mat-label>
          <input matInput autocomplete="off" formControlName="userMail" placeholder="qwerty@example.com">
          <mat-error *ngIf="this.loginForm.controls['userMail'].invalid">{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>

        <!--                 F I E L D   P A S S W O R D                     -->
        <mat-form-field appearance='legacy' class="loginForm__field">
          <mat-label><mat-icon>key</mat-icon> Contraseña</mat-label>
          <input matInput autocomplete="off" placeholder="Enter your password" [type]="hide ? 'password' : 'text'" formControlName="userPassword">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="this.loginForm.controls['userPassword'].invalid">{{getErrorMessagePassword()}}</mat-error>

        </mat-form-field>


        <button type="submit" mat-raised-button color="primary" class="loginForm__button" [disabled] = 'loginForm.invalid'>Ingresar</button>
        <p>
          Create an account ? <a [routerLink]="['/access/register']"> Register </a>
        </p>
      </form>
    </section>

  </article>
</section>
