.container{
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* centtrta verticalmente*/
  /*background-color: aquamarine;*/
  height: 100%;   /**/
}
.login{
  width: 100%;
  max-width: 330px;
  text-align: center;
  background-color: cornsilk;
  padding-bottom: 20px;
  box-shadow: 0.4em 0 0.4em royalblue;
}

.login__main{
  /*background-color: blue;*/
}

.login__img{
  width: 50%;
  padding-bottom: 10px;
}
.login__text{
  padding-top: 20px;
}
.loginForm{

}

.loginForm__field{
  width: 90%;
  padding-bottom: 10px;
}

.loginForm__button{
  height: 50px;
  width: 90%;
  padding: 10px;
}
