<section class = "container">

  <article class = "login">
    <section class = "login__main">
      <h1 class="login__text">Registro de usuario </h1>
      <img class = "login__img" src="../../../../../assets/login.png">
    </section>
    <section>
      <form [formGroup]="registerForm" class="loginForm"  (ngSubmit)="sendDataFormRegister()" >
        <!--                 F I E L D   E M A I L                      -->
        <mat-form-field appearance='legacy' class="loginForm__field">
          <mat-label><mat-icon>user</mat-icon> Nombre de Usuario</mat-label>
          <input matInput autocomplete="off" formControlName="userMail" placeholder="only words">
          <mat-error *ngIf="this.registerForm.controls['userName'].invalid">{{getErrorMessageName()}}</mat-error>
        </mat-form-field>




      </form>

    </section>









  </article>
</section>
